@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.varun{
background-color: #eef0f3;
width: 60%;
height: 230px;
margin-left:230px;
padding: 10px;
border-radius: 5px;
}
.box2{
    
        background-color: #eef0f3;
        width: 60%;
        height: 150px;
        margin-left:230px;
        padding: 10px;
        border-radius: 5px;
        
}
.box3{
    
    background-color: #eef0f3;
    width: 60%;
    height: 200px;
    margin-left:230px;
    padding: 10px;
    border-radius: 5px;
    
}
.box4{
        background-color: #eef0f3;  
        width: 60%;
        height: 75px;
        margin-left:230px;
        padding: 10px;
        border-radius: 5px;
    }
p,td,.dark{
    font-weight: bold;
    font-style: italic;
    color: #3967b1;
    
}
input,select{
    width: 100%;
    height: 26px;
    border-radius: 5px;
    border: 0.05rem solid rgb(182, 178, 178);
}
input:hover
{
    border: 0.05rem solid #eef0f3;
}
.center{
max-width: 180px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.box{
    background-color:  #bcc3ce;
    width: 100%;
    height: 50px;
}
.color{
    color:  #bcc3ce;
    font-style: normal;
    text-align: center;
    font-size: 12px;
}
strong {
    font-weight: bolder;
}
.button{
    width: 250px !important;
    height: 47px !important;
    font-weight: bolder !important;
    font-size: larger;
    background: #3967b1;
    border-color: #3560a5;
    color: #fff;
    border-radius: 16px;
    margin-left: 425px !important;
} 

